canvas {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.9); 
}

.main {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body,html {
    margin:0;
    padding:0;
}
