html {
    margin:0;
    padding:0;
}

body {
    overflow: hidden;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    background-color: rgba(30, 30, 30, 1); 
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    zoom: 100%;
}

#title {
    position: absolute;
    display: block;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
}

#gameTitle {
    margin: 0;
    font-size: 75px;
    color: azure;
    font-family: 'Trebuchet MS';
    font-weight: 900;
    text-shadow: 0px 3px #424242, 3px 0px #424242, 0px -3px #424242, -3px 0px #424242, 3px 3px #424242, -3px -3px #424242, -3px 3px #424242, 3px -3px #424242;
    text-wrap: nowrap;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 1;
}

#versionNumber {
    position: relative;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    display: inline-block;
    font-size: 15px;
    text-wrap: nowrap;
    color: azure;
    font-family: 'Trebuchet MS';
}

#startButton {
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 25%;
    font-family: 'Trebuchet MS';
}
